<?xml version="1.0" ?>
<model>
    <name>realsense_camera</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Anubhav Singh</name>
        <email>ros20.doc@gmail.com</email>
    </author>
    <description>Intel Realsense D435 Camera Sensor Model</description>
</model>
